include ../../../sharedRes/mixins

head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Система ввода\вывода данных
    link(rel="stylesheet", href="out/styles.css")
body.page
    .page__wrapper
        .page__header.header
            ul.header__navigation.header__navigation-sidePage
                li.header__navRef.header__navRef-sidePage
                    .content__topicLine.content__topicLine-left.content__topicLine-green
                    +createElement("","arrowButtons__button","toRight","borderOnly","small","margL") 
                    a(href="index.html") На главную
                    +createElement("","arrowButtons__button","toLeft","borderOnly","small","margR") 
                    .content__topicLine.content__topicLine-right.content__topicLine-green
            h1.header__title Вводим и получаем данные

        .mainContent
            .page__leftBlock.sidePageBlock.sidePageBlock-left
                .sidePageBlock__title.sidePageBlock__title-left Это интересно
                ul.sidePageBlock__facts
                    li.sidePageBlock__fact Передача видеоданных на высокой скорости при использовании провода более 8 метров
                        |  может вызвать искажение сигнала, помехи
                    li.sidePageBlock__fact Накладные наушники обеспечивают гораздо более высокий уровень естественной звукозоляции,
                        |  чем вкладыши


            .page__middleBlock.sidePageBlock.sidePageBlock-middle
                .content__topicStart
                    .content__topicLine.content__topicLine-left
                    +createElement("","arrowButtons__button","toRight","enabled")
                    h2.content__title.content__title-white Система ввода данных
                    +createElement("","arrowButtons__button","toLeft","enabled")
                    .content__topicLine.content__topicLine-right

                p.content__p.content__p-smallerMarg Для ввода данных, как правило, используют компьютерную мышь и клавиатуру


                .content__topicStart
                    .content__topicLine.content__topicLine-left
                    +createElement("","arrowButtons__button","toRight","enabled")
                    h2.content__title.content__title-white Ответы на Ваши вопросы
                    +createElement("","arrowButtons__button","toLeft","enabled")
                    .content__topicLine.content__topicLine-right

                .mainContent__qaList

                    .mainContent__qa
                        +createMessaging("Анна И.", "out/qa/img/woman1.jpg", 
                        "Здравствуйте, чем механические клавиатуры лучше мембранных?",
                        "Механические клавиатуры обладают меньшим ходом и лучше тактильно ощущаются, но дороже",
                         55, 40,"Мне помогло")

                    .mainContent__qa
                         +createMessaging("Петр В.", "out/qa/img/man1.jpg", 
                        "Расскажите, пожалуйста, про последствия механических повреждений компьютерной мыши",
                        "Одна из наиболее часто встречающихся проблем - двойнок клик мышки",
                         45, 40,"Мне помогло")

                
            

            .page__rightBlock.sidePageBlock.sidePageBlock-right
                .sidePageBlock__title.sidePageBlock__title-right Наши спонсоры рекомендуют:

                .sidePageBlock__itemBlock
                    +createUserProfile("out/userProfiles/img/mouse1.jpg", "Comfort mouse", "Up to 3250 DPI", 35, 30)
                    .sidePageBlock__buttonBox
                        +createElement("Подробнее","standardButtons__button", "big", "shadow", "success")
                    .sidePageBlock__buttonBox.sidePageBlock__buttonBox-special
                        +createElement("Hand friendly","standardButtons__button", "big", "empty", "warning")

                .sidePageBlock__itemBlock
                    +createUserProfile("out/userProfiles/img/headphones1.jpg", "Senheiser PX", "15hz-23khz", 45, 40, true)
                    .sidePageBlock__buttonBox
                        +createElement("Подробнее","standardButtons__button", "big", "empty", "warning")


        include ../../../sharedRes/footer/block