.page__footer.footer 
    .footer__info Сайт создан с применением новейших технологий, таких как HTML5 и CSS3. 
        | (C) Трусов Евгений, ст.гр. 8К51 Все права защищены 
    .footer__info ООО "Дезигн", закажите и Вы сайт у нас, звоните по тел. +7-905-990-45-37
    .footer__info Мы благодарим GitHub Pages за любезно предоставленный домен