include ../../../sharedRes/mixins

head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Подсистема питания
    link(rel="stylesheet", href="out/styles.css")
body.page
    .page__wrapper
        .page__header.header
            ul.header__navigation.header__navigation-sidePage
                li.header__navRef.header__navRef-sidePage
                    .content__topicLine.content__topicLine-left.content__topicLine-green
                    +createElement("","arrowButtons__button","toRight","borderOnly","small","margL") 
                    a(href="index.html") На главную
                    +createElement("","arrowButtons__button","toLeft","borderOnly","small","margR") 
                    .content__topicLine.content__topicLine-right.content__topicLine-green
            h1.header__title Выбираем компоненты системы питания компьютера

        .mainContent
            .page__leftBlock.sidePageBlock.sidePageBlock-left
                .sidePageBlock__title.sidePageBlock__title-left Это интересно
                ul.sidePageBlock__facts
                    li.sidePageBlock__fact Нынешние платы поддерживают работу с несколькими процессорами. 
                        | На их основе можно создавать производительные серверы, пользоваться одновременно 
                        | многими портами USB, смотреть видео высокого разрешения, 
                        | играть в игры с великолепной трехмерной графикой.
                    li.sidePageBlock__fact На левой стороне материнской платы (на стороне, которая оказывается сзади компьютера)
                        |  расположены интерфейсы для подключения монитора, клавиатуры, мыши, колонок, сетевого кабеля
                        | и других устройств. Все современные материнские платы имеют несколько портов USB, 
                        | которые позволяют подключать флешки, принтеры, видеокамеры и прочие устройства.
                    li.sidePageBlock__fact Основной базой, фундаментом, подложкой МП является многослойный текстолит, 
                        | на котором расположены различные конденсаторы, транзисторы, дорожки для обмена данными 
                        | и прочие электротехнические элементы. Дорожки располагаются на слоях текстолита, а для их сообщения 
                        | в последних проделаны специальные отверстия. Современные материнские платы могут содержать до 10-15 слоев. 

            .page__middleBlock.sidePageBlock.sidePageBlock-middle
                .content__topicStart
                    .content__topicLine.content__topicLine-left
                    +createElement("","arrowButtons__button","toRight","enabled")
                    h2.content__title.content__title-white Немного теории
                    +createElement("","arrowButtons__button","toLeft","enabled")
                    .content__topicLine.content__topicLine-right

                p.content__p.content__p-smallerMarg Как показала многолетняя практика, многие начинающие сборщики компьютеров
                    |  не уделяют должного внимание подсистеме питания компьютера. А зря! Общая задача подсистемы питания - 
                    | преобразования 220В переменного тока (розетка) в 12\5\3.2 вольт соответственно, причем полученный ток 
                    | должен быть уже постоянным. Основную задачу по преобразованию напряжения берет на себя Блок Питания.
                    | Материнская плата дополнительно стабилизирует напряжение и подает соответствующие напряжения на нужные 
                    | линии. Самая высоконагруженная линия в современных компьютерах - 12 вольт, её потребляют процессор и 
                    | видеокарта (до 85% от общего энергопотребления). Однако, для питания накопителей данных из-за особенностей
                    | схемотехники требуются подавать напряжение в районе 5 Вольт, 12 же сожжёт Ваш накопитель за несколько секунд!

                .content__topicStart
                    .content__topicLine.content__topicLine-left
                    +createElement("","arrowButtons__button","toRight","enabled")
                    h2.content__title.content__title-white Выбираем блок питания
                    +createElement("","arrowButtons__button","toLeft","enabled")
                    .content__topicLine.content__topicLine-right

                h4.content__title.content__title-smaller.content__title-bordered Основные производители блоков питания:
                +createComplexPieChart(5,40,21,15,9,15,"diagramBlue", "diagramRed", 
                "diagramGreen","diagramPurple","diagramLightBlue","Chieftec", "CoolerMaster", "AcBel", "InWin", "Thermaltake")

                p.content__p По нашему опыту, можем подсказать, что блоки питания фирмы Thermaltake наиболее надежны. К сожалению,
                    | на рынке представлено не так много блоков питания этого производителя

                h4.content__title.content__title-smaller.content__title-marg Что отличает качественный блок питания?

                .switch
                    .switch__container.switch__container-inCol
                        +createCheckGroup(9,1,["Большой вес", "Качественные конденсаторы",
                         "Модульная конструкция", "Продуманная схемотехника", "Эффективное охлаждение", "Низкий шум при работе", 
                         "Высокий КПД","> 90% мощности приходится на 12В линию", "Низкая цена"],1,2,3,4,5,6,7,8)

                .mainContent__advice.mainContent__advice-negativeMargin Обратите внимание
                p.content__p Качественные блоки питания стоят существенно дороже обычных, офисных. Вовлекая во внимание и тот факт
                    | , что сам по себе блок прямым образом никак не влияет не производительность, возникает желание сэкономить на этом
                    | на компоненте. Пожалуйста, помните, что блок питания - "сердце" вашего компьютера, некачественный блок 
                    | питания не просто может сгореть во время неблагоприятных условий, но и утащить за собой половину Вашего
                    | компьютера
                
                .content__topicStart
                    .content__topicLine.content__topicLine-left
                    +createElement("","arrowButtons__button","toRight","enabled")
                    h2.content__title.content__title-white Выбираем основную плату
                    +createElement("","arrowButtons__button","toLeft","enabled")
                    .content__topicLine.content__topicLine-right
                
                p.content__p В этом разделе мы предоставим Вам несколько вопросов, ответив на них, Вам станет гораздо проще
                    | подобрать нужную Вам материнскую плату, не заплатив лишнего 
                
                h3.content__title.content__title-smaller.content__title-marg.content__title-bordered 1. Выберите размер Вашей
                    |  материнской платы
                .content__stageContainer
                    +createStageChart(1,1)
                p.content__p Подсказка: Как правило, чем больше плата, тем проще на ней разместить компоненты системы, чтобы 
                    | они не находились слишком близко друг к другу и не перегревались, но следите за тем, чтобы плата такого
                    | размера поместались в Ваш корпус!
                
                h3.content__title.content__title-smaller.content__title-marg.content__title-bordered 2. Нужна ли Вам возможность
                    |  разгона процессора и RAM?
                .content__stageContainer
                    +createStageChart(2,2)
                p.content__p Подсказка: Скорее всего, на данном этапе разгон Вам не понадобится, так как проведение этой процедуры
                    |  несет определенный риск для Вашего железа. Наберитесь опыта, и задайте когда-нибудь этот вопрос себе снова

                h3.content__title.content__title-smaller.content__title-marg.content__title-bordered 3. Сколько памяти Вам нужно?
                .content__stageContainer
                    +createStageChart(3,3)
                p.content__p Подсказка: Если Вам требуется более 8 ГБ памяти, следует присмотреться к МП с 4 слотами под RAM

                h3.content__title.content__title-smaller.content__title-marg.content__title-bordered 4. Насколько Вам важно качество 
                    | звукового тракта?
                .content__stageContainer
                    +createStageChart(4,4)
                p.content__p Подсказка: Как правило, более качественными звуковыми чипами оснащают МП от 11000 рублей и выше

                h3.content__title.content__title-smaller.content__title-marg.content__title-bordered 5. Сколько накопителей данных
                    |  Вы планируете разместить в Вашем компьютере?
                .content__stageContainer
                    +createStageChart(5,5)
                p.content__p Подсказка: Стандартное число SATA-портов: 4. Если Вам этого не хватает, следует оценить более дорогие
                    |  модели МП
                
                .content__topicStart
                    .content__topicLine.content__topicLine-left
                    +createElement("","arrowButtons__button","toRight","enabled")
                    h2.content__title.content__title-white Ответы на Ваши вопросы
                    +createElement("","arrowButtons__button","toLeft","enabled")
                    .content__topicLine.content__topicLine-right

                .mainContent__qaList

                    .mainContent__qa
                        +createMessaging("Анна И.", "out/qa/img/woman1.jpg", 
                        "Здравствуйте, чем модульные блоки питания лучше обычных?",
                        "Облегчает сборку компьютера и улучшает воздушные потоки", 55, 40,"Мне помогло")

                    .mainContent__qa
                        +createMessaging("Петр В.", "out/qa/img/man1.jpg", 
                        "На моем блоке питания, что он 500W, но БП уходит в защиту на 450",
                        "500W - суммарная мощность по всем линиям, а Вы, вероятно, нагружаете только 12В",
                         45, 40,"Мне помогло")

                    .mainContent__qa
                        +createMessaging("Петр В.", "out/qa/img/man1.jpg", 
                        "Через 2 года после покупки блока питания из него начал издавать странный шум, что это?",
                        "Скорее всего, втулка вентилятора вашего БП засорилась, необходимо прочистить и смазать",
                         45, 40,"Мне помогло")
                    
                    .mainContent__qa
                        +createMessaging("Анна И.", "out/qa/img/woman1.jpg", 
                        "Как сбросить настройки BIOS. Материнская плата Z170-X5",
                        "Найдите батарейку, питающую BIOS, и выньте ее на 4-6 минут", 55, 40,"Мне помогло")
                
            

            .page__rightBlock.sidePageBlock.sidePageBlock-right
                .sidePageBlock__title.sidePageBlock__title-right Наши спонсоры рекомендуют:

                .sidePageBlock__itemBlock
                    +createUserProfile("out/userProfiles/img/PSU1.jpg", "Accord 450W", "Bronze+", 30, 45)
                    .sidePageBlock__buttonBox
                        +createElement("Подробнее","standardButtons__button", "big", "shadow", "success")
                    .sidePageBlock__buttonBox.sidePageBlock__buttonBox-special
                        +createElement("Лучшее качество","standardButtons__button", "big", "shadow", "warning")


                .sidePageBlock__itemBlock
                    +createUserProfile("out/userProfiles/img/PSU2.jpg", "CMI 750X", "Silver++", 50, 55)
                    .sidePageBlock__buttonBox
                        +createElement("Подробнее","standardButtons__button", "big", "empty", "success")
                    .sidePageBlock__buttonBox.sidePageBlock__buttonBox-special
                        +createElement("Лучшая цена","standardButtons__button", "big", "empty", "warning")

                .sidePageBlock__itemBlock
                    +createUserProfile("out/userProfiles/img/motherboard1.jpg", "Z170", "Unblocked", 50, 70, true)
                    .sidePageBlock__buttonBox
                        +createElement("Подробнее","standardButtons__button", "small", "empty", "warning")
                
                .sidePageBlock__itemBlock
                    +createUserProfile("out/userProfiles/img/motherboard2.jpeg", "Gaming AM4+", "LED", 30, 70)
                    .sidePageBlock__buttonBox
                        +createElement("Подробнее","standardButtons__button", "big", "empty", "success")
                    .sidePageBlock__buttonBox.sidePageBlock__buttonBox-special
                        +createElement("Гарантия 2 года","standardButtons__button", "big", "shadow", "success")


        include ../../../sharedRes/footer/block