@import "../../../sharedRes/vars.less";
@import "../../../sharedRes/projectShare/common.less";

.mainContent {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    &__diagramDescription {
        margin-left: 8.5%;
    }
    &__diagramBox {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__descriptionItem {
        border-radius: 50%;
        position: relative;
        &:before {
            content: "";
            width: 25px;
            height: 25px;
            display: block;
        }
        &:not(:first-child):before {
            margin-top: 5px;
        }
        &:after {
            content: attr(data-description);
            position: absolute;
            top: 0;
            color: @darkGrey;
            font-family: "SourceRegular", Arial, Helvetica, sans-serif;
            font-size: 1.2em;
            right: -5px;
            transform: translateX(100%) translateY(0.1em);
        }
    }
}

.sidePageBlock {
    @widthLimit: 950px;
    @mobileMargin: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    &-left,&-right {
        width: 20%;
        @media (max-width: @widthLimit) {
            order: 10;
            width: calc(50% - @mobileMargin);
        }
    }
    &-left {
        @media (max-width: @widthLimit) {
            margin-right: @mobileMargin;
        }
    }
    &-middle {
        margin-left:  @mobileMargin;
        margin-right: @mobileMargin;
        margin-top: 10px;
        flex-grow: 1;
        max-width: calc(60% - 2*@mobileMargin);
        @media (max-width: @widthLimit) {
            max-width: 100%;
        }
    }
    &__title {
        font-family: "LatoBlack", Arial, Helvetica, sans-serif;
        font-size: 1.3em;
        margin-bottom: 15px;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        &-left {
            border-bottom: 1px dashed @red;
            &:after {
                content: "!";
                color: @red;
                font-size: 1.6em;
                margin-left: 3px;
                display: inline-block;
                transform: rotate(10deg);
            }
        }
        &-right {
            text-align: right;
        }
    }
    &__fact {
        margin-left: 5px;
        text-indent: 6px;
        border: 1px dashed @lightGreen;
        border-radius: 10px;
        padding-top: 5px;
        padding-bottom: 8px;
        padding-left: 10px;
        padding-right: 5px;
        margin-left: -15px;
        margin-bottom: 20px;
        &:before {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            content: "";
            display: inline-block;
            background-color: @moderateBlue;
            transform: translate(-12px,3px);
        }
    }
}