@import "vars.less";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
a, a:visited,a:active {
    color: @creamColor;
}

.page {
    background-color: @backgroundGrey;
    margin-top: 40px;
    margin-bottom: 30px;
}