@import "vars.less";
@import "projectShare/common.less";

@font-face {
	font-family: 'LatoLight';
	src: url('fonts/LatoLight.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LatoBlack';
	src: url('fonts/LatoBlack.ttf')  format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'LatoBold';
	src: url('fonts/LatoBold.ttf')  format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'LatoRegular';
	src: url('fonts/LatoRegular.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SourceRegular';
	src: url('fonts/SourceRegular.ttf')  format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'SourceLight';
	src: url('fonts/SourceLight.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}


* {
    padding: 0;
    margin: 0;
}
 
.page {
    background: linear-gradient(135deg,rgb(222,247,254),rgb(182, 239, 250) 50%, rgb(222,247,254));
    margin-top: 40px;
    margin-bottom: 30px;
	font-family: "LatoRegular", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: @darkGrey;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}
