head
    link(rel="stylesheet", href="out/styles.css")
body.page
    .page__wrapper
        .page__header.header
            ul.header__navigation
                li.header__navRef 
                    a(href="powerSystem.html") Подсистема питания
                li.header__navRef 
                    a(href="computingSystem.html") Вычислительная подсистема
                li.header__navRef 
                    a(href="dataAndCoolingSystem.html") Подсистема хранения данных и охлаждение
                li.header__navRef 
                    a(href="ioSystem.html") Периферийная система