include ../../../sharedRes/mixins

head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Главная
    link(rel="stylesheet", href="out/styles.css")
body.page
    .page__wrapper
        .page__header.header
            ul.header__navigation
                li.header__navRef 
                    a(href="powerSystem.html") Подсистема питания
                li.header__navRef 
                    a(href="computingSystem.html") Вычислительная подсистема
                li.header__navRef 
                    a(href="dataAndCoolingSystem.html") Подсистема хранения данных и охлаждение
                li.header__navRef 
                    a(href="ioSystem.html") Периферийная система
            h1.header__title Добро пожаловать на сайт по подбору компьютерных комплектующих!
        .page__content.content
            p.content__p Давно хотели собрать производительный компьютер, но цены на готовые решения в магазинах кусаются?
                |  Тогда вы обратились по адресу!
            .content__topicStart
                .content__topicLine.content__topicLine-left
                +createElement("","arrowButtons__button","toRight","enabled")
                h2.content__title.content__title-white С чего же начать?
                +createElement("","arrowButtons__button","toLeft","enabled")
                .content__topicLine.content__topicLine-right
            p.content__p Компьютер, удовлетворяющий потребности определенного пользователя может стоить и 30 000 рублей, 
                | и более 150 000 р! Почему разброс цен такой огромный, почему неотличимые визуально 2 куска кремния
                | могут разительно отличаться в стоимости? Попробуем разобраться.
            p.content__p Разница в цене обусловлена, в основном, производительностью комлектующих и степенью комфорта работы
                | . Также, как правило, дорогое "железо" имеет расширенный срок гарантийного обслуживания. Как не переплатить 
                | деньги за ненужные конкретно Вам особенности и при этом иметь достойную производительность? Что ж...

            h3.content__title.content__title-smaller.content__title-marg.content__title-bordered Шаг 1 - определите круг задач 
                | для Вашего компьютера
            .content__stageContainer
                +createStageChart(1)

            p.content__p Очевидно, что у бухгалтера, инженера, школьника и профессионального геймера разные требования к 
                | вычислительной мощности компьютера. Ведь одно дело заполнять электронную отчетность и отрисовывать
                | простой интерфейс редактора текста, совершенное другое - моделирование сложных 3D объектов, трассировка лучей 
                | в реальном времени или управление целой игровой вселенной!

            h4.content__title.content__title-smaller.content__title-marg Выберите, кто Вы!

            .switch
                .switch__container
                    +createRadioGroup(5,3,1,true,"Школьник","Студент", "Инженер", "Бухгалтер", "Геймер")
            
            h3.content__title.content__title-smaller.content__title-marg.content__title-bordered Шаг 2 - определитесь с 
                | типоразмером Вашего компьютера
            .content__stageContainer
                +createStageChart(2,2)
            
            p.content__p Если заглянуть в прошлое, первые компьютеры весили десятки тонн и занимали несколько сотен квадратных
                | метров. За последние 50 лет, конечно, многое поменялось, и теперь персональный компьютер представляет собой
                | устройство, сравнимое с небольшой коробкой. Но насколько большой корообкой? Сколько Вы готовы выделить места
                | для Вашего устройства? 
            .switch
                .switch__container
                    +createRadioGroup(3,2,2,true,"NUC", "Mid tower", "Full tower")
            p.content__p Помните, от размера зависит цена устройства и издаваемый им шум. Чем меньше размер устройства,
                | тем сложнее его охладить. Для совсем компактных компьютеров (NUC) компоненты впринципе сложнее разместить внутри
                | от того, и цена на такие решения высока. Но и особо габаритные решения требуют много материалов для 
                | изготовления. Подробнее о выборе охлаждения Вы сможете узнать из соответствующего раздела сайта.
            
            h3.content__title.content__title-smaller.content__title-marg.content__title-bordered Шаг 3 - Как данные хранить будем?
            .content__stageContainer
                +createStageChart(3,3)
            
            p.content__p Время магнитных лент и перфокарт канули в лету. На смену им пришли более эффективные жесткие диски...
                | 6-7 лет назад и потребности в выборе бы и не было. Только жесткие диски, только хадкор.
                | А Вы знали, что процессор может "общаться" с оперативной памятью на скоростях больше 20 ГБ\с?
                | А вот особо медленные жесткие диски в сложных ситуациях не смогут выдать и жалкого мегабайте!
                | Вот почему Ваш любимый фотошоп с плагинами грузится несколько минут...Благо технологии не стоят на месте
            h4.content__title.content__title-smaller.content__title-marg А что для Вас важно в накопителях данных?

            .switch
                .switch__container
                    +createCheckGroup(2,1,true,["Скорость работы", "Тишина"],1)

            p.content__p Поставили хотя бы одну галочку? Тогда Вам стоит присмотреться к SSD накопителям.
                | Они обеспечат более быструю доставку данных и не отвлекут от работы лишним шумом.
                | Более подробно о них Вы сможете узнать в соответствующем разделе сайта. Движемся дальше!

            h3.content__title.content__title-smaller.content__title-marg.content__title-bordered Шаг 4 - "Общение" с компьютером
            .content__stageContainer
                +createStageChart(4,4)
            
            p.content__p Нужна ли Вам геймерская мышь со сверхточным сенсором, или, быть может, Ваши пальцы предпочитают
                | механической ход клавиш, а не мембраны? Перефирия не влияет прямо на "числодробительность" Вашего
                | вычислительного монстра, но комфорт использования ведь тоже важен, да? При плинаровании бюджета, учтите, что
                | перефирия может оказаться дороже, чем Вы думаете
            
            h3.content__title.content__title-smaller.content__title-marg.content__title-bordered Шаг 5 - Пора 
                | платить разработчикам ПО...или?
            .content__stageContainer
                +createStageChart(5,5)
            p.content__p  Не забудьте, что истина кроется не только в hardware, но и в software. Современный софт, особенно 
                    | профессиональный может стоить половину, а то и больше Вашего компьютера. Заложите эту статью расходов 
                    | в Ваш бюджет...Хотя, мы не настаиваем. В любом случае, наш сайт - о железе и только, но мы Вас предупредили.

            .content__topicStart
                .content__topicLine.content__topicLine-left
                +createElement("","arrowButtons__button","toRight","enabled")
                h2.content__title.content__title-white А что дальше?
                +createElement("","arrowButtons__button","toLeft","enabled")
                .content__topicLine.content__topicLine-right

            p.content__p Среднестатический компьютер состоит из 9-11 компонентов. Мы объединили их в 4 основные системы. 
                | В шапке этой странички находятся ссылки на каждую эту систему, где она рассмотрена более подробно.
                |  Переходите и просвещайтесь!

            .content__topicStart
                .content__topicLine.content__topicLine-left
                +createElement("","arrowButtons__button","toRight","enabled")
                h2.content__title.content__title-white Сложно! Долго! Поможете?
                +createElement("","arrowButtons__button","toLeft","enabled")
                .content__topicLine.content__topicLine-right
            
            p.content__p Конечно! Приезжайте к нам, и наши специалисты подберут идеальное железо под Ваши нужды, 
                | переплата минимальная!
            
        .content__locationBox
            +createLocation("out/location/img/map.png", "Рай инженера", "Иркутский тракт","41", "Tomsk, Russian Federation",54,35)
        
        h4.content__title.content__title-smaller.content__title-marg Особые предложения?
        p.content__p Конечно, ведь мы всегда идём навстречу нашим дорогим клиентам, это то, что отличает нас от конкурентов! 
            |  Просто посмотрите на календарь ниже, наверняка совсем скоро будет особый день, когда наши услуги почти ничего
            |  не будут стоить Вам!
        
        .content__calendarBox
            +createCalendar(1, 14, "Сентябрь", 30, 6, 31 )

        h4.content__title.content__title-smaller.content__title-marg Хотите узнать еще больше о нас?
        p.content__p А мы только рады! Вот что случилось с нами в последнее время:
        .content__newsBox
            +createNews("out/news/img/demo.jpg","Шрифты пали в схватке с багами!", "10 сентября 2018", `Группа ученых
            поздно ночью обнаружила проблему с шрифтами в календаре и недоумеевают как такое могло произойти.
            Будем надеяться, им удастся узнать причину, объявим же минуту молчания в честь павших букв!`)