include ../../../sharedRes/mixins

head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Главная
    link(rel="stylesheet", href="out/styles.css")
body.page
    .page__wrapper
        .page__header.header
            ul.header__navigation
                li.header__navRef 
                    a(href="powerSystem.html") Подсистема питания
                li.header__navRef 
                    a(href="computingSystem.html") Вычислительная подсистема
                li.header__navRef 
                    a(href="dataAndCoolingSystem.html") Подсистема хранения данных и охлаждение
                li.header__navRef 
                    a(href="ioSystem.html") Периферийная система
            h1.header__title Добро пожаловать на сайт по подбору компьютерных комплектующих!
        .page__content.content
            p.content__p Давно хотели собрать производительный компьютер, но цены на готовые решения в магазинах кусаются?
                |  Тогда вы обратились по адресу!
            .content__topicStart
                .content__topicLine.content__topicLine-left
                +createElement("","arrowButtons__button","toRight","enabled")
                h2.content__title С чего же начать?
                +createElement("","arrowButtons__button","toLeft","enabled")
                .content__topicLine.content__topicLine-right