@import "../../../sharedRes/vars.less";
@import "../../../sharedRes/projectShare/common.less";

.page {
    &__wrapper {
        max-width: 1200px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }
}
.header {

    width: 90%;
    margin: 0 auto;

    &__navigation {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        background-color: rgb(48,29,21);
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 15px;
    }
    
    &__navRef {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 1.1em;
        text-align: center;
        a, a:visited, a:active {
            color: @creamColor;
            font-family: "LatoLight", Arial, Helvetica, sans-serif;
        }
        a:hover {
            border-bottom: dashed 1px @creamColor;
        }
        color: @creamColor;
        @media (max-width: 1100px) {
            width: 50%;
        }
        @media (max-width: 700px) {
            width: 100%;
        }
    }
    &__title {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 10px;
        font-family: "LatoBlack", Arial, Helvetica, sans-serif;
        line-height: 120%;
        font-size: 2.8em;
    }
}

.content {
    &__p {
        //word-break: break-all;
        font-size: 1.3em;
        text-indent: 30px;
        margin-top: 15px;
        &::first-letter {
            color: @moderateBlue;
            font-size: 1.6em;
            border-bottom: 2px solid @moderateBlue;
        }
    }
    &__topicStart {
        background: linear-gradient(to right, @moderateBlue, @darkPurple 50%, @moderateBlue);
        display: flex;
        align-items: center;
        border-radius: 10px;
        margin-top: 30px;
        margin-bottom: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    &__title {
        text-align: center;
        font-size: 2.3em;
        margin-left: 15px;
        margin-right: 15px;
        &-white {
            color: @mainColor;
        }
        &-smaller {
            font-size: 2.1em;
            width: 90%;
            margin: 0 auto;
        }
        &-marg {
            margin-top: 20px;
        }
        &-bordered {
            border-bottom: 2px dashed @darkGrey;
        }
    }
    &__topicLine {
        height: 6px;
        background-color: @mainColor;
        flex-grow: 1;
        &-left {
            margin-right: 20px;
        }
        &-right {
            margin-left: 20px;
        }
    }
    &__stageContainer {
        width: 80%;
        margin: 0 auto;
        margin-bottom: -40px;
    }
    &__locationBox {
        max-width: 595px;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    &__calendarBox {
        max-width: 350px;
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 30px;
    }
    @newsMargin: 15px;
    &__newsBox {
       width: calc(100% - 2*@newsMargin);
       margin-left: -@newsMargin;
       margin-right: -@newsMargin;
       display: flex;
       flex-flow: row wrap;
       justify-content: center;
       align-items: flex-start;
       margin-top: 35px;
    }
    &__newsInstance {
        margin-left: @newsMargin;
        margin-right: @newsMargin;
        max-width: 400px;
    }
}
